/.web-server-pid
/app/config/parameters.yml
/app/Resources/config/client_secret.json
/app/Resources/data/Postcode/*
!/app/Resources/data/Postcode/.gitkeep
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/node_modules

composer.phar